body{
background-color:white;

}

#form{
background-color:red;
}

/*form*/
#question{
float:right;
font-size:20px;
}



/*overlaps answer over 8 ball image*/
div#overlap{
width:50px;
height:50px;
position:relative;

}
/*first picture of 8 ball*/
div#picture{
float:right;
position:absolute;
top:0px;

}

/*8 ball picture before result*/

div#answer{
position:absolute;
top:280px;
left:270px;
font-size:14px;
color:white;
font-family:'Garamond';
text-transform:uppercase;
width:10px;
}

/*8 ball picture that fades in after script runs*/
div#answerpicture{
float:right;
position:absolute;
top:0px;

}
